html, body {
    margin: 0;
    height: 100%;
}

body {
    background: linear-gradient(75deg, rgb(77, 7, 59), rgb(57, 2, 43), #342a4d );
}

.header {
    border-bottom: 3px solid #4f0fdb;

    text-align: center;
    padding: 5px 5px 5px 5px;
    margin: 0;
}

.header h1 {
    font-family: 'Conv_Cyberspace Raceway Front', 'arial';
    background: linear-gradient(rgb(255, 131, 166),rgb(166, 0, 125),#94c8f4,#a5cbec);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 26pt;
    margin: 4px;
    font-style: italic;
}
 
.game-controls {
    padding: 10px;
    text-align: center;
}

.start-button {
    border: 5px solid green;
    border-radius: 48px;
    height: 90px;
    width: 90px;
    font-size: 1.3em;
}

.control-button {
    border: 5px solid #9f0687;
    background: #b2e5f9;
    color: #1100db;
    border-radius: 48px;
    height: 60px;
    width: 60px;
    font-size: 1.3em;
}

.hidden {
    display: none;
}

#c {
    width: 100%;
    max-height: 75vh;
    display: block;
}

#timerDisplay {
    display: block;
    position: right;
    right: 50px;
    font-size: 1.4em;
    color: #eaea5c;
    font-weight: bold;
    font-family: verdana;
    top: 80px;
    position: absolute;
}


@font-face {
	font-family: 'Conv_Indelible';
	src: url('/fonts/Indelible.eot');
	src: local('☺'), url('/fonts/Indelible.woff') format('woff'), url('/fonts/Indelible.ttf') format('truetype'), url('/fonts/Indelible.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Cyberspace Raceway Front';
	src: url('/fonts/Cyberspace_Raceway_Front.eot');
	src: local('☺'), url('/fonts/Cyberspace_Raceway_Front.woff') format('woff'), url('/fonts/Cyberspace_Raceway_Front.ttf') format('truetype'), url('/fonts/Cyberspace_Raceway_Front.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Conv_Cyberspace Raceway Back';
	src: url('/fonts/Cyberspace_Raceway_Back.eot');
	src: local('☺'), url('/fonts/Cyberspace_Raceway_Back.woff') format('woff'), url('/fonts/Cyberspace_Raceway_Back.ttf') format('truetype'), url('/fonts/Cyberspace_Raceway_Back.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}