html, body {
    margin: 0;
    height: 100%;
}

body {
    background: linear-gradient(75deg, rgb(77, 7, 59), rgb(57, 2, 43), #342a4d );
}

.header {
    border-bottom: 3px solid #4f0fdb;

    text-align: center;
    padding: 5px 5px 5px 5px;
    margin: 0;
}

.header h1 {
    font-family: 'Conv_Cyberspace Raceway Front', 'arial';
    background: linear-gradient(rgb(255, 131, 166),rgb(166, 0, 125),#94c8f4,#a5cbec);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 26pt;
    margin: 4px;
    font-style: italic;
}

.game-controls {
    padding: 10px;
    text-align: center;
}

.start-button {
    border: 5px solid #9f0687;
    background: #b2e5f9;
    color: #1100db;
    border-radius: 48px;
    height: 90px;
    width: 90px;
    font-size: 1.3em;
}

.control-button {
    border: 5px solid #9f0687;
    background: #b2e5f9;
    color: #1100db;
    border-radius: 48px;
    height: 60px;
    width: 60px;
    font-size: 1.3em;
}

.direction-button-right {
    width: 90px;
    border-radius: 0px 48px 48px 0px;
}

.direction-button-left {
    width: 90px;
    border-radius: 48px 0px 0px 48px;
}

.volume-controls {
    display: inline-block;
    position: absolute;
    right: 17px;
}
.mute-button {
    display: block;
    margin: 5px;
    border: 3px solid #9f0687;
    background: #b2e5f9;
    color: #1100db;
    border-radius: 48px;
    height: 38px;
    width: 38px;
    font-size: 1.3em;
}

.hidden {
    display: none;
}

#c {
    width: 100%;
    max-height: 75vh;
    display: block;
}

#timerDisplay {
    display: block;
    position: right;
    right: 50px;
    font-size: 1.4em;
    color: #f0f020;
    font-weight: bold;
    font-family: verdana;
    top: 80px;
    position: absolute;
}

.completed-message {

    display: inline-block;
    color: #fff;
    position: absolute;
    top: calc(14vh);
    left: 50%;
    transform: translateX(-50%);
    font-size: 3em;

    background: linear-gradient(15deg,rgb(234, 225, 179),rgb(230, 138, 94),#ea7155,#ec151f);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* animation: glow 1s ease-in-out infinite alternate; */
    opacity: 1;
    visibility: 1;
    transition: opacity 1.2s linear;
    /* transition: font-size 1.2s linear; */
}

.completed-message .hiscore-list-container {
    -webkit-text-fill-color: #ea6950;
}

.completed-message-subject {
    font-family: 'Conv_Indelible';
}

.completed-message-time {
    font-family: 'Conv_Cyberspace Raceway Back';
    font-size: 0.4em;
    font-style: italic;
    max-width: 30vw;
    background: linear-gradient(15deg,rgb(224, 239, 255),rgb(191, 205, 255),#7f85ee, #3c47ff, #a0aeff, rgb(224, 239, 255));
    background-clip: border-box;
    background-clip: border-box;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-size: 1400% 100%;
    -webkit-animation: backgroundwave 3.5s ease infinite;
    -moz-animation: backgroundwave 3.5s ease infinite;
    animation: backgroundwave 3.5s linear infinite;
}

.completed-message-hidden {
    opacity: 0;
    visibility: 0;
    font-size: 0em;
}

.track-list-section {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    /* background: rgba(79, 15, 219, 0.73); */
    /* width: 35vw; */
    padding: 0px 42px 20px 10px;
    /* color: #c8d0f9; */
    /* background: rgba(156, 201, 239, 0.56);
    color: #2C0576; */

    width: 73vw;
    background: rgba(3, 142, 165, 0.93);
    /* color: #F4EAF3; */
    color: #DBBD1C;
    min-height: 35vh;
}

.track-list-section h2 {
    font-family: 'Rocketrinder';
    font-style: italic;
    letter-spacing: 2;
    font-size: 1.7em;
    text-align: center;
}

.track-list-section button.select-track-button {
    transform: skew(-15deg);
    border: 1px solid #8db3dd;

    background: #e86807;
    margin: 1px 7px 1px 7px;
    color: #F4EAF3;
}

.track-list {
    list-style: none;
    font-family: 'Rocketrinder';
    line-height: 2;
}

.track-list > li {
    width: 0%;
    max-height: 2em;
    padding-left: 15px;
    display: flex;
    overflow: hidden;
    animation: expandFromLeft 4s forwards; /* timing-function delay iteration-count direction; */

}

.track-list li.selected {
    background: #299eb099;
    border-radius: 30px;
}

.track-list .track-name {
    cursor: pointer;
}

/* .track-list li.selected:before {
    content: "";
    width: 100px;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 19px solid #299eb0;
    border-left: 19px solid rgba(3, 142, 165, 0.93);;
    border-right: 19px solid rgba(3, 142, 165, 0.93);;
  } */

.track-list li.selected .hiscore-list-container {
    background: #299eb0e0;
    flex: 1;
    border-radius: 20px;
}

.track-list-track-line {
    flex: none;
    align-self: flex-start;
}

.hiscore-list-container {
    flex: none;
    align-self: flex-end;
}

.hiscore-list-container h3 {
    font-family: 'Rocketrinder';
    font-style: italic;
    letter-spacing: 2;
    font-size: 1.4em;
    text-align: center;
    margin: 0;
}

.hiscore-list {
    list-style: none;
    font-family: 'Rocketrinder';
    line-height: 1.8;

    /* visibility: hidden;
    max-height: 0; */
    /* animation: expandFromTop 4s forwards;  */
}

.hiscore-header {
    font-weight: bold;
    /* display: inline-block; */
}

.hiscore-ranking {
    width: 40px;
    display: inline-block;
}

.hiscore-time {
    width: 68px;
    display: inline-block;
}

.hiscore-name {
    /* width: 500px; */
    display: inline-block;
}

#completed-hiscorelist h3 {
    font-size: 0.7em;
}
#completed-hiscorelist .hiscore-list {
    font-size: 0.5em;
}

.hiscore-list input {
    border: none;
    outline-width: 0;
    caret-color: #8db4dd;
    /* width: 200px; */
    font-family: 'Rocketrinder';
    line-height: 1.8;
    font-size: 1em;
}

.hiscore-enter-button {
    border: 3px solid #8db3dd;
    margin: 1px 7px 1px 7px;
    color: #f0b22c;
    border-radius: 10px;
    background: transparent;
    cursor: pointer;
}

.play-again-button {
    border: 3px solid #8db3dd;
    margin: 1px 7px 1px 7px;
    color: #f0b22c;
    -webkit-text-fill-color: #f0b22c;
    /* border-radius: 10px; */
    font-size: 17px;
    background: unset;
    /* background: #000; */
    cursor: pointer;
}

.wave-animate-background {
    background: linear-gradient(15deg,rgb(224, 239, 255),rgb(191, 205, 255),#7f85ee, #3c47ff, #a0aeff, rgb(224, 239, 255));
    background-size: auto;
    background-clip: border-box;
    background-clip: border-box;
    background-clip: border-box;
    background-size: 1400% 100%;
    -webkit-animation: backgroundwave 3.5s ease infinite;
    -moz-animation: backgroundwave 3.5s ease infinite;
    animation: backgroundwave 3.5s linear infinite;
}

.wave-animate {
    background: linear-gradient(15deg,rgb(224, 239, 255),rgb(191, 205, 255),#7f85ee, #3c47ff, #a0aeff, rgb(224, 239, 255));
    background-size: auto;
    /* background-clip: border-box;
    background-clip: border-box; */
    background-clip: border-box;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 1400% 100%;
    -webkit-animation: backgroundwave 3.5s ease infinite;
    -moz-animation: backgroundwave 3.5s ease infinite;
    animation: backgroundwave 3.5s linear infinite;
}

.button-glow {
    border: none;
    outline: none;
    position: relative;
    z-index: 0;
    /* border-radius: 10px; */
    transform: skew(-15deg);

    color: #000;
}

.button-glow:before {
    content: '';
    background-image: linear-gradient(45deg, #edd, #95b9eb, #89878e, #77b9df, #7c9c97, #b2e5f9, #fff, #ccbdb9, #f8ffbb);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    /* opacity: 0; */
    opacity: 1;
    transition: opacity .3s ease-in-out;
    /* border-radius: 10px; */
    transform: skew(-15deg);
}

.button-glow:hover:before {
    background-image: linear-gradient(45deg, #df922f, #ffcb00, #fffb00, #f2d910, #d29f05, #e3a717, #ea5c31, #ec5526, #e36a11);
    /* background-image: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000); */
    animation: glowing 18s linear infinite;
    /* transition: opacity .3s ease-in-out; */
}

.button-glow:after {
    background: transparent;

    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    /* border-radius: 10px; */
    transform: skew(-15deg);
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


/* .glow-on-hover {
    border: none;
    outline: none;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
} */



@keyframes backgroundwave {
    0% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
  }

@keyframes expandFromLeft {
    0% {
      display: none;
      width: 0%;
    }
    1% {
      display: block;
      width: 1%;
    }
    100% {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      overflow: visible;
    }
}

@keyframes expandFromTop {
    0% {
      display: none;
      visibility: hidden;
      max-height: 0;
    }
    1% {
      display: block;
      visibility: visible;
      max-height: 1%;
    }
    100% {
      max-height: 100%;
      display: block;
      visibility: visible;
      /* display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      overflow: visible; */
    }
}

@font-face {
	font-family: 'Conv_Indelible';
	src: url('/fonts/Indelible.eot');
	src: local('☺'), url('/fonts/Indelible.woff') format('woff'), url('/fonts/Indelible.ttf') format('truetype'), url('/fonts/Indelible.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Cyberspace Raceway Front';
	src: url('/fonts/Cyberspace_Raceway_Front.eot');
	src: local('☺'), url('/fonts/Cyberspace_Raceway_Front.woff') format('woff'), url('/fonts/Cyberspace_Raceway_Front.ttf') format('truetype'), url('/fonts/Cyberspace_Raceway_Front.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Conv_Cyberspace Raceway Back';
	src: url('/fonts/Cyberspace_Raceway_Back.eot');
	src: local('☺'), url('/fonts/Cyberspace_Raceway_Back.woff') format('woff'), url('/fonts/Cyberspace_Raceway_Back.ttf') format('truetype'), url('/fonts/Cyberspace_Raceway_Back.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Rocketrinder';
	src: local('☺'), url('/font/rocketrinder-yv5d-webfont.woff') format('woff'), url('/fonts/rocketrinder-yv5d-webfont.woff2') format('woff2'), url('/fonts/rocketrinder-yv5d-webfont.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}
